{% extends "base.html" %}
<div class = "container">
    {% block content %}   
    <div>
    <h1>ABOUT</h1>
        <p style="font-family: segoe print;">The professionals at NorCo Homebuyers have a varied and diverse skill set.
            While the company's primary focus is real estate, the main motivation is education and providing second chances.
            We recognize that real estate is one of the best vehicles for wealth creation, but to steer that vehicle
            correctly requires education and probably a couple of second chances. Education is a core value at NCHB 
            because we feel that most, if not all, problems and fears can be eliminated with a little extra education.
            With a little extra education people can have a second chance, people can take control, and more importantly people
            can gain more freedom!
        </p>
    </div>
    <div>    
        <h2>Services Provided</h2>
        <p>
            Most of what we do will be free to you. Our market analyses will be free. Our personal finance and savings tools
            will be free, also. Our main mission is to empower people to make good decisions for themselves. Use our resources.
            We created them because we feel that even in today's world you still kinda have to buy your own freedom
            and so we hope you can use them to gain more freedom, get more control and live a life more on your terms.

        <p> 
            If you have property that you would like to sell we can list it at 4% <br/>
            At present, any property owner has a real advantage because market demand is high, inventory is low and interest
            rates are just as low.
        </p>

            If you are looking to buy a home or property our personal finance and savings
            resources can help you meet that goal.
            While we do not offer buyer services, a buyer's need for a real estate agent has
            significantly decreased. With the internet and technology anyone
            can search the market just as effectively as any real estate agent. However, the main benefit of a buyer's
            real estate agent comes from an agent's ability to navigate the contracts, but check out our
            real estate contract guide and maybe you too can confidently navigate a contract.
        </p></div>
        <div>
        <h2>A message of Hope</h2>
        <p>
            We live in a crazy world with unsettling uncertainty. We want to provide hope when people feel down and out.
            We don't have all of the solutions but we're confident that our resources can help you create your own solution.
        </p></div>

        {% endblock %}

    </div>