{% extends "base.html" %}
<div class = "container">
    {% block content %}

    

    <div class="slides">
        <div class="slides">

            <a class="btn btn-primary " href="/wtmm_sell_Ad_space_on_a_poster" role="button">
            <img src="static\NCHB_logo.jpg"  id="NCHBnavbarLogo" sizes="20%" alt="...">
            
                Extra Money Ideas: Design a Poster and Sell Ad Space
            </a>
        </div>
        <div class="slides">
            
            <a class="btn btn-primary" href="/wtmm_start_a_youtube_channel" role="button">
                <img src="static\NCHB_logo.jpg"  id="NCHBnavbarLogo" sizes="20%" alt="...">
                Extra Money Ideas: Start A YouTube Channel
            </a>
        </div>
        <div class="slides">
            <a class="btn btn-primary" href="/wtmm_social_media_marketing" role="button">
                <img src="static\NCHB_logo.jpg"  id="NCHBnavbarLogo" sizes="20%" alt="...">
                Extra Money Ideas: Do Social Media Marketing For Others
            </a>
        </div>
        <div class="slides">
            <a class="btn btn-primary" href="/wtmm_cryptocurrency_interest_paying_accounts" role="button">
                <img src="static\NCHB_logo.jpg"  id="NCHBnavbarLogo" sizes="20%" alt="...">
                Extra Money Ideas: Hold A Cryptocurrency Wallet, Get Paid Interest
            </a>
        </div>
        <div class="slides">
            <a class="btn btn-primary" href="/wtmm_designing_tshirts" role="button">
                <img src="static\NCHB_logo.jpg"  id="NCHBnavbarLogo" sizes="20%" alt="...">
                Extra Money Ideas: Design t-shirts, Have the Printing and Shipping Done For You<br>
                And Get Paid
            </a>
        </div>
        <div class="slides">
            <a class="btn btn-primary" href="/wtmm_bank_CD_accounts" role="button">
                <img src="static\NCHB_logo.jpg"  id="NCHBnavbarLogo" sizes="20%" alt="...">
                Extra Money Ideas: Bank Accounts, Boring but Safe
            </a>
        </div>
        <div class="slides">
            <a class="btn btn-primary" href="/wtmm_running_a_node" role="button">
                <img src="static\NCHB_logo.jpg"  id="NCHBnavbarLogo" sizes="20%" alt="...">
                Extra Money Ideas: Put Your Computer To Work and Make Currency While You Sleep
            </a>
        </div>
        <div class="slides">
            <a class="btn btn-primary" href="/wtmm_browsing_the_internet" role="button">
                <img src="static\NCHB_logo.jpg"  id="NCHBnavbarLogo" sizes="20%" alt="...">
                Extra Money Ideas: Get Paid While Browsing The Internet
            </a>
        </div>
        <div class="slides">
            <a class="btn btn-primary" href="/wtmm_driving" role="button">
                <img src="static\NCHB_logo.jpg"  id="NCHBnavbarLogo" sizes="20%" alt="...">
                Extra Money Ideas: Get Paid for Driving, You've Heard About These Before
            </a>
        </div>

    </div>

    
    {% endblock %}

</div>