{% extends "base.html" %}
<div class = "container">
    {% block content %}   
        <h1 style="font-family: cursive;">
        WELCOME
        </h1>
        <p>This is NorCo HomeBuyers, where we provide real estate and educational services</p>

        <div class='tableauPlaceholder' id='viz1621793011810' style='position: relative'><noscript>
            <a href='https:&#47;&#47;www.realtor.com&#47;'>
                <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;KQ&#47;KQ3HQSS9N&#47;1_rss.png' style='border: none' />
            </a>
        </noscript>
        <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='path' value='shared&#47;KQ3HQSS9N' />
            <param name='toolbar' value='no' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;KQ&#47;KQ3HQSS9N&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='tabs' value='yes' />
            <param name='filter' value='publish=yes' />
        </object>
        </div>
        <script type='text/javascript'>var divElement = document.getElementById('viz1621793011810');var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h3>Other assets we like to park money into</h3>

        <!-- Start JM Bullion Chart -->
        <div id="jmb_chart_Silver_USD" style="width:336px;height:257px;"></div>
        <script>
        (function(){var t = document.getElementsByTagName("script")[0];var s=document.createElement("script");s.async=true;s.src="https://redist.nfusionsolutions.biz/client/jmbullion/widget/chart/smallhistorical/jmb_chart_Silver_USD?metal=Silver&currency=USD&width=336";t.parentNode.insertBefore(s,t);})();
        </script>
<!-- End JM Bullion Chart-->

        <br><br>

        <script src="https://widgets.coingecko.com/coingecko-coin-list-widget.js"></script>
        <coingecko-coin-list-widget  coin-ids="bitcoin,ethereum,matic-network,havven,celsius-degree-token,basic-attention-token,tron,stellar,gala,nexo" currency="usd" locale="en"></coingecko-coin-list-widget>

        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
        <coingecko-coin-price-chart-widget currency="usd" coin-id="bitcoin" locale="en" height="300"></coingecko-coin-price-chart-widget>
        
        <br>

        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
        <coingecko-coin-price-chart-widget currency="usd" coin-id="matic-network" locale="en" height="300"></coingecko-coin-price-chart-widget>

        <br>

        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
        <coingecko-coin-price-chart-widget currency="usd" coin-id="ethereum" locale="en" height="300"></coingecko-coin-price-chart-widget>

        <br>
        
        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
        <coingecko-coin-price-chart-widget currency="usd" coin-id="havven" locale="en" height="300"></coingecko-coin-price-chart-widget>

        <br>

        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
        <coingecko-coin-price-chart-widget currency="usd" coin-id="celsius-degree-token" locale="en" height="300"></coingecko-coin-price-chart-widget>

        <br>

        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
        <coingecko-coin-price-chart-widget currency="usd" coin-id="usd-coin" locale="en" height="300"></coingecko-coin-price-chart-widget>

        <br>

        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
        <coingecko-coin-price-chart-widget currency="usd" coin-id="basic-attention-token" locale="en" height="300"></coingecko-coin-price-chart-widget>
        
        <br>
        
        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
        <coingecko-coin-price-chart-widget currency="usd" coin-id="tron" locale="en" height="300"></coingecko-coin-price-chart-widget>

        <br>

        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
        <coingecko-coin-price-chart-widget currency="usd" coin-id="stellar" locale="en" height="300"></coingecko-coin-price-chart-widget>
        
        <br>
        
        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
        <coingecko-coin-price-chart-widget currency="usd" coin-id="gala" locale="en" height="300"></coingecko-coin-price-chart-widget>
        
        <br>

        <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
        <coingecko-coin-price-chart-widget currency="usd" coin-id="nexo" locale="en" height="300"></coingecko-coin-price-chart-widget>
        
        <br>
        <br>
        <br>
        <br>
        
        
        {% endblock %}

    </div>