{% extends "base.html" %}
<div class = "container">
    {% block content %}   
        <h1>Personal Finance and Savings Resources</h1>
        <p>UNDER CONSTRUCTION stay tuned as we create a suite of tools for you to use to achieve your savings goals</p>

        <hr class="mb-4">
        <hr class="mb-4">
        <hr class="mb-4">
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">Savings Guide</a>
            <p> Free downloads to savings schedules and descriptions of various strategies you can use to save more</p>    
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">Alternative Savings Guide</a>
            <p> We use the word "alternative" to mean a place where you save your money that isn't under your
                bed and is not a bank account. Sometimes these savings vehicles are little riskier but they offer
                better growth potential than a traditional savings account at a bank.
            </p>    
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">An Investment Journey</a>
            <p> A candid story shared by one of the professionals here at NCHB. They were kind enough 
                to share the journey they have gone through with their savings and investments. Lot's of ups and
                downs in this story with plenty of mistakes made, lessons learned and hard-won successes. You'll laugh,
                you'll cry, but more importantly we hope you gain something from this shared perspective.
            </p>    
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">Stock Price Predicter</a>
            <p> 
                No one or nothing can predict the future but you can create tools to help you make better
                decisions. With the help of technology we have a tool you can use to see what the next days price
                could be.
            </p>    
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">Crypto Price Predicter</a>
            <p>
                Same as above but with cryptocurrencies. Have fun and try not to lose too much money while
                riding the waves of volatility.
            </p>    
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">Commodities Price Predicter</a>
            <p>
                Same as above but with commodities. Not as fun and exciting as the stock market or
                cryptocurrencies but commodities are the original vehicles of trade.
            </p>    
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">NCHB Articles and News Feed</a>
            <p>
                Here we have original content and analyses done at NCHB as well as news from other
                outlets.
            </p>    
        </div>
        <div>
        <hr class="mb-4">
        <hr class="mb-4">
        <hr class="mb-4">
        </div>
        {% endblock %}

    </div>