{% extends "base.html" %}
<div class = "container">
    {% block content %}

        
        <h1>Who said real estate had to be all serious?</h1>
        <p>Whether you're getting ready to sell your property or trying to find a property to buy, any real estate
            transaction can get pretty hectic. Yes, we know it's a little silly, but it doesn't hurt to take a
            moment to relax and enjoy our free coloring book. Color while enjoying a glass of wine or color with
            your kids. Whatever you decide we hope you have fun with it. Click on
            the button below to see and download it.
        </p>
        
        <div class="center" style="text-align: center;">
            <form method="get" action="static\Sellers_guide_coloring_book.pdf">
                <button class="btn btn-primary" type="submit">
                    Sure, I guess I'll check out this<br>
                    "seller's coloring book"!
                </button>
             </form>
        </div>
        {% endblock %}

    </div>