{% extends "base.html" %}
<div class = "container">
    {% block content %}   
        <h1>Real Estate Resources</h1>
        <p>UNDER CONSTRUCTION stay tuned while we work hard to create real estate tools to help you achieve your goals</p>

        <hr class="mb-4">
        <hr class="mb-4">
        <hr class="mb-4">
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">A Guide to Real Estate Contracts</a>
            <p>
                You won't be able to call yourself a lawyer after this guide but we hope it will make 
                contracts appear less intimidating. In this guide we go over real estate contracts
                for the state of Colorado.
            </p>    
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">Recent Real Estate Sales and Listings</a>
            <p>
                Note to self: create a tool that pulls recent sales and listings, start with just one county first
            </p>    
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">Real Estate Price Predicter</a>
            <p>
                What's the price of your house going to be tomorrow or next year? We don't know
                but with our tool we can make a pretty close guess.
            </p>    
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">Property Prospecting List</a>
            <p>
                Are you a real estate agent? Are you looking for a list of leads to listings? With our
                robust data ananlysis we have a list of leads that can help you get more listings. 
            </p>    
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="/real_estate_resources/freeColoringBook" role="button">Free Real Estate Coloring Book Download</a>
            <p>
                Yeah, it's kind of cheesy and corny, but whatever. Real estate transactions can be a little
                stressful so why not take the edge off by coloring through the pages. In this coloring book you'll
                go through the steps it takes to sell a house as a property owner.
            </p>    
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="#" role="button">NCHB Articles and News Feed</a>
            <p>
                Here we have original content and analyses done at NCHB as well as news from other
                outlets.
            </p>    
        </div>
        <div>
        <hr class="mb-4">
        <hr class="mb-4">
        <hr class="mb-4">
        </div>
        {% endblock %}

    </div>