{% extends "base.html" %}
<div class = "container">
    {% block content %} 

    <h2>Certificates of Deposit or a CD Account</h2>
        <p>Banks have been thrown under the bus a lot in this list but they do have some merits. Those include
            a long track record of keeping money safe, FDIC insurance, and familiarity. It's a good idea to have at least one bank
            account, either checking or savings. Another type of account that a bank offers is a certificate of deposit. At the time
            of writing this list there doesn't appear to be any CD accounts offered by any bank that offer over 1% in interest so
            not a good means of growing your money or making extra money. However, this type of account would be good for an
            emergency fund or some sort of fund where you don't need the funds readily available. You can rest assured that your money
            will be safe from most things. Most things, except for inflation.
        </p>

    {% endblock %}

</div>