{% extends "base.html" %}

    {% block content %} 

    <h1>Sell Ad Space On A Monthly Poster You Design</h1>
    <p>
        This one is fun especially if you're a creative person. We did this for a little bit to promote real estate
        networking events that NCHB hosted. Here's how it worked. Once a month NCHB hosted an event and to promote that event
        we designed a poster that we would distribute across town in various businesses and street corners. This was pretty
        enjoyable because it was creative work and we got to walk around town chit chatting with various business owners.
        It is a little more legwork than just running a facebook ad campaign but your advertising
        costs are covered upfront because you propose to business owners to put their business logo on the poster you
        design. We would charge $40/month to add a business logo on the poster and the cost of printing 25 posters was
        never more than $20 - $30. So with just one business paying for the advertising the printing costs were covered. Furthermore, each business
        gets the benefit of having their logo displayed in 25 different locations with heavy foot traffic. Admittedly, we weren't
        very ambitious and only got 4 businesses to pay us for this advertising fee, but even with just 4 businesses paying
        for this, that was $160 each month minus the cost of printing and a pleasant walk around the town one
        or two afternoons a month. Someone with a little more pep in their step could get 10 businesses to pay for this
        and see $400 each month depending on what they decide to charge. You also don't even need to be advertising anything for
        yourself, you could just put some artwork onto a poster. One caveat is that this was done pre-pandemic and so the
        effectiveness of this hustle might have changed, but definitely worth a shot since it's pretty cheap to test out. 
    </p>

    {% endblock %}

