{% extends "base.html" %}
<div class = "container">
    {% block content %} 

    <h2>Running a Node</h2>
        <p>This is another cryptocurrency related item. Running a node just means using your own computer's hardware to run
            a portion of a company's server. NCHB has recently purchased a couple of licenses to run nodes on its computers.
            These particular nodes help run the servers for a gaming company called Gala Games. The downside is that it's not
            cheap to buy the license to run these nodes. However they pay pretty well for each day you run the node on your computer.
            Again, they pay in cryptocurrency but obviously you can exchange that for cash dollars. At the time of writing this list,
            the daily payout for running a node is roughly $16. So at that rate it will take about 2 years to see a full return
            on the principal investment. If the value of the cryptocurrency appreciates then that time will be shorter, though.
            This is a little more speculative and little bit more riskier and it's a pretty steep buy-in price for most people. However,
            if you have $11,000 lying around and you'd like to have some passive income then you can learn more about it by
            <a href="https://gala.fan/QGh25O6uY">CLICKING HERE.</a> Furthermore, you can win prizes paid in cryptocurrencies
            so you don't necessarily have to buy a node license to make money with these guys. It's kind of crazy, but you can
            earn money casually playing video games.
        </p>
        
    {% endblock %}

</div>