{% extends "base.html" %}
<div class = "container">
    {% block content %}   
        <h1>Ways to Make Money</h1>
        <p>We created this running list because we realized two things: 1)the traditional way of making money with w-2 income
            is no longer the only way and 2)in this day and age many people need a side hustle to make ends meet or have
            a little extra to put to savings for a house. Below is a list of ways to make extra money. It's best to do these on the side to
            supplement your income from your regular job because with Real Estate prices as high as they are many people don't have
            enough for a downpayment or to qualify for a loan. Also, if you don't have a job then maybe some of these things can
            help you make ends meet while on the job hunt. They are not get rich quick schemes, though.
            Some of them you may have heard about and others might make you say WTF! Some of them are passive and others require
            a good chunk of your time. However, here they are for you to pick and choose, try and experiment. 
        </p>
        <p>
            The list below will contain some referral/affiliate links that will compensate us if you sign up using our link.
            If you think that's icky then by all means just type the url in your browser and bypass our link entirely, but
            the referral fees really do help us and if you think some of the content we have provided is helpful then we would
            be grateful if you used our links. Also, not every item in this list will be a referral link but instead a business
            idea that can be implemented with relatively little up front cost and they just require a little extra hustle instead
            of money. Without further ado, let's get into the list!
        </p>

        <h4>Bonus Tip</h4>
        <p>
            If you're taking up a side hustle to put some money away to save for a house then also check out our "Savings Guide" and
            "Alternative Savings Guide" to help you determine how long you need to be grinding with your side hustle to meet your
            savings goal
        </p>
        <h2>Sell Ad Space On A Monthly Poster You Design</h2>
        <p>
            This one is fun especially if you're a creative person. We did this for a little bit to promote real estate
            networking events that NCHB hosted. Here's how it worked. Once a month NCHB hosted an event and to promote that event
            we designed a poster that we would distribute across town in various businesses and street corners. This was pretty
            enjoyable because it was creative work and we got to walk around town chit chatting with various business owners.
            It is a little more legwork than just running a facebook ad campaign but your advertising
            costs are covered upfront because you propose to business owners to put their business logo on the poster you
            design. We would charge $40/month to add a business logo on the poster and the cost of printing 25 posters was
            never more than $20 - $30. So with just one business paying for the advertising the printing costs were covered. Furthermore, each business
            gets the benefit of having their logo displayed in 25 different locations with heavy foot traffic. Admittedly, we weren't
            very ambitious and only got 4 businesses to pay us for this advertising fee, but even with just 4 businesses paying
            for this, that was $160 each month minus the cost of printing and a pleasant walk around the town one
            or two afternoons a month. Someone with a little more pep in their step could get 10 businesses to pay for this
            and see $400 each month depending on what they decide to charge. You also don't even need to be advertising anything for
            yourself, you could just put some artwork onto a poster. One caveat is that this was done pre-pandemic and so the
            effectiveness of this hustle might have changed, but definitely worth a shot since it's pretty cheap to test out. 
        </p>
        <h2>Start A YouTube Channel</h2>
        <p>This one is a little more difficult, but if you have the time and patience then it could turn out to be quite lucrative.
           We tried this at NCHB but drifted away from it because we found the video shooting and editing tedious and time
           consuming. However if you have the grit to stick with it and be consistent then this could potential become something
           that could help you walk away from a regular 9-5 job. It does take a while but the grit to post video content consistently
           is the only cost. You don't really need a fancy camera. One content creator that we worked with just used the camera on
           his phone and did minimal edits. After about 5 years of posting consistently once a week he started getting a
           decent sized following and that translated to about $500-$600 per month in youtube ad revenue. Of course better editing
           can get more views but it's more about consistency than quality here. So, if you're willing to grind it out for a few
           years then you can get some solid income doing this.
        </p>
        <h2>Social Media Marketing Consultant/Content Manager</h2>
        <p>
            You may have already heard of this before because it has been getting pretty popular. In case you haven't
            heard of this, it involves running a social media account for another person or business and managing
            their ad campaigns and media posts. If you're pretty savvy running your own social media accounts and you
            know the "ins and outs" of cost-per-click and ad campaign metrics then you could potentially do this part time
            for a couple of businesses. This type of service could potentially boost the foot traffic for a business so you
            could charge a premium. However, just remember not to over-promise and under-deliver. I've seen some people
            be cocky with this and then they ended up really disappointing their "clients." However, if you're really good,
            I've heard of people charging $1000/month for just one client. Doing this part time on top of a fulltime job
            could really lead to some good savings.
        </p>
        <h2>Cryptocurrency Interest Paying Accounts</h2>
        <p>
            We've all heard of a savings account at a bank. Unfortunately, these days most banks don't even pay 1% interest
            if any at all. So when you account for inflation, then you're literally losing money holding cash in a bank account.
            Well, not anymore! Several accounts exist now that will pay you interest to hold your cryptocurrencies with them. I personally
            have several of these accounts and it's been the easiest return on my money I've ever had. Also, if you're not a fan
            of the volatility for which cryptocurrencies are so famous then you can hold an account with just "stable coins" which
            are pegged to most major paper currencies such as the dollar. That's what I do and I get 10% interest on that. No banks
            can come anywhere close to that in a savings or checking account. To do this you'll have to buy some cryptocurrency on an
            exchange such as CoinBase. If you want to avoid to the volatility then just buy "US Dollar coin" or "USDC." Once
            you have your cryptocurrency on CoinBase then you transfer that amount to an interest paying account. As I mentioned
            above there are several interest paying accounts. The three that we use are:
            <ul>
                <li><a href="https://celsiusnetwork.app.link/12176645aa">Celsius</a></li>
                <p style="background-color: forestgreen;">This account, or wallet as they refer to them, pays interest weekly so your accounts will compound weekly.
                    Of the three wallets listed here, this one offers the most variety in terms of the number of different
                    cryptocurrencies you can hold with them. In addition, while they pay different interest rates for different
                    cryptocurrencies, they offer the highest interest rates compared to the other wallets. For example, they
                    are paying 13.99% on two currencies and they are paying as low as 2.02% on some other currencies. To sign up,
                    you do need to provide proof of ID. When you sign up with the link above, you and NCHB will both get
                    a referral bonus.
                </p>
                <li><a href="https://nexo.io/?u=5eb9fcb075666314f74f077a">Nexo</a></li>
                <p>Nexo has the second most variety of cryptocurrencies out of the three wallets listed here. While they don't
                    offer as much variety as the Celsius wallet they do pay their interest daily so any currency you hold with
                    them will compound daily! Crazy right?! Have you ever heard of that anywhere else?! Anyway, pardon my
                    excitement but in my opinion this is a much better place to store money than any conventional bank. To sign up,
                    you do need to provide proof of ID. No referral or sign-up bonuses with this one but the link to learn more 
                    and register a new account is above.
                </p>
                <li><a href="https://blockfi.com/?ref=d05e639c">BlockFi</a></li>
                <p>Lastly, Blockfi offers the least variety in terms of how many different currencies you can hold with them.
                    Also, the interest only compounds monthly, but they still pay a decent interest rate, at least compared to
                    a bank savings account. Out of the three, Blockfi offers the fewest perks but I still hold currencies with
                    them for the sake of diversification. To sign up, you do need to provide proof of ID. When you sign up
                    with the link above, you and NCHB will both get a referral bonus.
                </p>
            </ul>
            <p>Now, you might be wandering how these companies make their money to be able to pay out their interest. Well,
                they make loans from which they make interest. These loans are backed by cryptocurrencies and so anyone
                who has a wallet with them can get a cash loan with their crypto account as the collateral. Here at NCHB we took
                out a small $500 loan to test it out. The loan terms aren't the greatest but they are convenient because
                no credit check is required since the loan is backed by collateral. Furthermore, these companies have managed
                to get these wallets insured for the account holders peace-of-mind. It's not FDIC insured like with a
                bank account but you are protected.
            </p>
            <p>Anyway, lots of pros and cons to consider but that's why we put this info out there, so you can weigh out the
                risks for yourself and make an informed decision.

            </p>
            So let's summarize the process real quick:
            <ol>
                <li>Sign up for a coinbase account <a href="https://www.coinbase.com/join/byrnec_w?src=android-link">HERE</a></li>
                <p>Using this coinbase link above will also earn you and I a referral bonus</p>
                <li>Buy some USDC(US Dollar Coin) on Coinbase if you're not a fan of volatility, if you can tolerate more risk try another coin </li>
                <p>To buy cryptocurrencies on Coinbase you can either link your bank account, debit or credit card, or
                    do a wire transfer. Also, you can actually earn interest holding USDC in your Coinbase account but you'll earn much more interest
                    with any of the wallets I mentioned above compared to coinbase.
                </p>
                <li>Make an account with one of the wallets I mentioned above: Celsius, Nexo, or BlockFi. Take your pick or have all three, like I do</li>
                <li>Once your wallet account is set up, then transfer what you have in Coinbase to your new cryptocurrency wallet.</li>
                <p>Depending on how you purchased your cryptocurrency on Coinbase, there might be a hold on your funds for up to a week or
                    two while they verify them.
                </p>
                <li>Enjoy watching your wallet account grow with interest once you transfer funds from coinbase.</li>
            </ol> 

        </p>
        <h2>Designing T-Shirts and Other Merch</h2>
        <p>Here's another one for the creative types. There's a website called Redbubble that let's you design or upload your
            own designs to print onto t-shirts and other merch like cell phone cases and face masks. They take care of the printing,
            shipping and payment processing. All you have to do is load up the designs. <a href="https://www.redbubble.com/people/ssbyrne89/shop?asc=u">Check it out for yourself.</a> NorCo HomeBuyers (NCHB)
            doesn't offer any merch on there but another company with whom NCHB is affiliated does have merchandise on there. There's no
            need to buy any of their merchandise, we are just linking to their stuff to show you an example in case designing t-shirts
            seems like a fun side gig for you. You don't make much money per sale, but if can manage to sell a large enough volume then
            it could be a decent amount of money for you. They will simply direct deposit your earnings into your bank account.
        </p>
        <h2>Certificates of Deposit or a CD Account</h2>
        <p>Banks have been thrown under the bus a lot in this list but they do have some merits. Those include
            a long track record of keeping money safe, FDIC insurance, and familiarity. It's a good idea to have at least one bank
            account, either checking or savings. Another type of account that a bank offers is a certificate of deposit. At the time
            of writing this list there doesn't appear to be any CD accounts offered by any bank that offer over 1% in interest so
            not a good means of growing your money or making extra money. However, this type of account would be good for an
            emergency fund or some sort of fund where you don't need the funds readily available. You can rest assured that your money
            will be safe from most things. Most things, except for inflation.
        </p>
        <h2>Running a Node</h2>
        <p>This is another cryptocurrency related item. Running a node just means using your own computer's hardware to run
            a portion of a company's server. NCHB has recently purchased a couple of licenses to run nodes on its computers.
            These particular nodes help run the servers for a gaming company called Gala Games. The downside is that it's not
            cheap to buy the license to run these nodes. However they pay pretty well for each day you run the node on your computer.
            Again, they pay in cryptocurrency but obviously you can exchange that for cash dollars. At the time of writing this list,
            the daily payout for running a node is roughly $16. So at that rate it will take about 2 years to see a full return
            on the principal investment. If the value of the cryptocurrency appreciates then that time will be shorter, though.
            This is a little more speculative and little bit more riskier and it's a pretty steep buy-in price for most people. However,
            if you have $11,000 lying around and you'd like to have some passive income then you can learn more about it by
            <a href="https://gala.fan/QGh25O6uY">CLICKING HERE.</a> Furthermore, you can win prizes paid in cryptocurrencies
            so you don't necessarily have to buy a node license to make money with these guys. It's kind of crazy, but you can
            earn money casually playing video games.
        </p>
        <h2>Browsing the Internet</h2>
        <p>This one is yet another cryptocurrency strategy. There's an internet browser that pays you in cryptocurrency to
            view ads that they serve up to you while you're on the internet. It's not much and only amounts to $3-$5/month.
            However, since you're already on the internet and you're already being bombarded with ads then why not get paid
            for it. It's called Brave and they will only serve you ads based on the types of ads you decide that you want to
            see and the frequency that you decide you want to see them. What a concept, right? Instead of getting blasted with
            weird, random ads that you don't want to see, you get to choose what kinds of ads you see and how often you see them.
            For each ad you decide to click on and view the browser will pay you in their cryptocurrency called 'BAT'
            which is short for "Basic Attention Token." The idea behind it is that they are paying you for your attention,
            which in today's world is truly a valuable thing. Furthermore, their browser offers really great privacy and
            security features that protect you while you're on the internet. To learn more or download the Brave browser
            <a href="https://brave.com/">CLICK HERE.</a>
        <h5>Pro Tip</h5>
        <p>
            The <a href="https://celsiusnetwork.app.link/12176645aa">Celsius</a> wallet pays interest on BAT. So you can
            transfer any BAT you earn from browsing the internet with the Brave browser and earn interest on
            cryptocurrency without even having to spend any dollars.
        </p>
        </p>


        {% endblock %}

    </div>