{% extends "base.html" %}
<div class = "container">
    {% block content %} 

    <h1>Social Media Marketing Consultant/Content Manager</h1>
        <p>
            You may have already heard of this before because it has been getting pretty popular. In case you haven't
            heard of this, it involves running a social media account for another person or business and managing
            their ad campaigns and media posts. If you're pretty savvy running your own social media accounts and you
            know the "ins and outs" of cost-per-click and ad campaign metrics then you could potentially do this part time
            for a couple of businesses. This type of service could potentially boost the foot traffic for a business so you
            could charge a premium. However, just remember not to over-promise and under-deliver. I've seen some people
            be cocky with this and then they ended up really disappointing their "clients." However, if you're really good,
            I've heard of people charging $1000/month for just one client. Doing this part time on top of a fulltime job
            could really lead to some good savings.
        </p>

    {% endblock %}

</div>