{% extends "base.html" %}
<div class = "container">
    {% block content %} 

    <h2>Designing T-Shirts and Other Merch</h2>
        <p>Here's another one for the creative types. There's a website called Redbubble that let's you design or upload your
            own designs to print onto t-shirts and other merch like cell phone cases and face masks. They take care of the printing,
            shipping and payment processing. All you have to do is load up the designs. <a href="https://www.redbubble.com/people/ssbyrne89/shop?asc=u">Check it out for yourself.</a> NorCo HomeBuyers (NCHB)
            doesn't offer any merch on there but another company with whom NCHB is affiliated does have merchandise on there. There's no
            need to buy any of their merchandise, we are just linking to their stuff to show you an example in case designing t-shirts
            seems like a fun side gig for you. You don't make much money per sale, but if can manage to sell a large enough volume then
            it could be a decent amount of money for you. They will simply direct deposit your earnings into your bank account.
        </p>

    {% endblock %}

</div>