{% extends "base.html" %}
<div class = "container">
    {% block content %} 

    <h2>Browsing the Internet</h2>
        <p>This one is yet another cryptocurrency strategy. There's an internet browser that pays you in cryptocurrency to
            view ads that they serve up to you while you're on the internet. It's not much and only amounts to $3-$5/month.
            However, since you're already on the internet and you're already being bombarded with ads then why not get paid
            for it. It's called Brave and they will only serve you ads based on the types of ads you decide that you want to
            see and the frequency that you decide you want to see them. What a concept, right? Instead of getting blasted with
            weird, random ads that you don't want to see, you get to choose what kinds of ads you see and how often you see them.
            For each ad you decide to click on and view the browser will pay you in their cryptocurrency called 'BAT'
            which is short for "Basic Attention Token." The idea behind it is that they are paying you for your attention,
            which in today's world is truly a valuable thing. Furthermore, their browser offers really great privacy and
            security features that protect you while you're on the internet. To learn more or download the Brave browser
            <a href="https://brave.com/">CLICK HERE.</a>
        <h5>Pro Tip</h5>
        <p>
            The <a href="https://celsiusnetwork.app.link/12176645aa">Celsius</a> wallet pays interest on BAT. So you can
            transfer any BAT you earn from browsing the internet with the Brave browser and earn interest on
            cryptocurrency without even having to spend any dollars.
        </p>
        </p>
        
    {% endblock %}

</div>