{% extends "base.html" %}
<div class = "container">
    {% block content %}   
        <h1>Ways to Make Money</h1>
        <p>We created this running list because we realized two things: 1)the traditional way of making money with w-2 income
            is no longer the only way and 2)in this day and age many people need a side hustle to make ends meet or have
            a little extra to put to savings for a house. Below is a list of ways to make extra money. It's best to do these on the side to
            supplement your income from your regular job because with Real Estate prices as high as they are many people don't have
            enough for a downpayment or to qualify for a loan. Also, if you don't have a job then maybe some of these things can
            help you make ends meet while on the job hunt. They are not get rich quick schemes, though.
            Some of them you may have heard about and others might make you say WTF! Some of them are passive and others require
            a good chunk of your time. However, here they are for you to pick and choose, try and experiment. 
        </p>
        <p>
            The list below will contain some referral/affiliate links that will compensate us if you sign up using our link.
            If you think that's icky then by all means just type the url in your browser and bypass our link entirely, but
            the referral fees really do help us and if you think some of the content we have provided is helpful then we would
            be grateful if you used our links. Also, not every item in this list will be a referral link but instead a business
            idea that can be implemented with relatively little up front cost and they just require a little extra hustle instead
            of money. Without further ado, let's get into the list!
        </p>

        <h4>Bonus Tip</h4>
        <p>
            If you're taking up a side hustle to put some money away to save for a house then also check out our "Savings Guide" and
            "Alternative Savings Guide" to help you determine how long you need to be grinding with your side hustle to meet your
            savings goal
        </p>
        <ul>
            <li><a href="/wtmm_sell_Ad_space_on_a_poster">Sell Ad Space</a></li>
            <li><a href="/wtmm_start_a_youtube_channel">Start A Youtube Channel</a></li>
            <li><a href="/wtmm_social_media_marketing">Social Media Marketing And Consulting</a></li>
            <li><a href="/wtmm_cryptocurrency_interest_paying_accounts">Interest Paying Cryptocurrency Wallets</a></li>
            <li><a href="/wtmm_designing_tshirts">Designing T-shirts</a></li>
            <li><a href="/wtmm_bank_CD_accounts">Open A CD Account At A Bank</a></li>
            <li><a href="/wtmm_running_a_node">Get Paid To Run A Node For A Decentralized Game Server</a></li>
            <li><a href="/wtmm_browsing_the_internet">Browsing The Internet</a></li>
            <li><a href="/wtmm_driving">Driving</a></li>

        </ul>

        {% endblock %}

    </div>