{% extends "base.html" %}
<div class = "container">
    {% block content %} 

    <h2>Driving</h2>
        <p>You've heard of UBER, Lyft, DoorDash, GrubHub etc.. These apps/companies have not only changed the game of delivery and transportation, but
            they've created the chance for people to turn their vehicle into an asset instead of a liability. Before these apps people just had to
            accept the reality that their vehicle was just a liability because they just don't appreciate in value unless it's a collector car or
            something to that nature. However, with these delivery and taxi apps people can now utilize their personal vehicle to generate some money
            in their spare time... and voila personal vehicles can now be considered assets. Signing up to drive for these apps is quick and easy.
            They require some "hoops to jump through" but it's much easier than applying for a regular part time job for earning extra money.
            Another benefit is you can work whatever hours you want after signing up to drive for them.
            There are some things to consider before you decide to drive for these apps. First, when working for these apps the money you earn
            will be considered 1099 income so you will be taxed at a higher than w-2 income. Second, you will be adding miles to your vehicle which
            will result in added "wear and tear" on your vehicle which could result in more maintenance and repair costs. You can make good money
            driving for these apps but keep those details in mind so you can mitigate their impact on how much money you end up keeping after taxes
            and repairs. If you track your mileage then you could potentially offset your tax implication for example.
        </p>
        
    {% endblock %}

</div>