{% extends "base.html" %}
<div class = "container">
    {% block content %} 

    <h2>Cryptocurrency Interest Paying Accounts</h2>
        <p>
            We've all heard of a savings account at a bank. Unfortunately, these days most banks don't even pay 1% interest
            if any at all. So when you account for inflation, then you're literally losing money holding cash in a bank account.
            Well, not anymore! Several accounts exist now that will pay you interest to hold your cryptocurrencies with them. I personally
            have several of these accounts and it's been the easiest return on my money I've ever had. Also, if you're not a fan
            of the volatility for which cryptocurrencies are so famous then you can hold an account with just "stable coins" which
            are pegged to most major paper currencies such as the dollar. That's what I do and I get 10% interest on that. No banks
            can come anywhere close to that in a savings or checking account. To do this you'll have to buy some cryptocurrency on an
            exchange such as CoinBase. If you want to avoid to the volatility then just buy "US Dollar coin" or "USDC." Once
            you have your cryptocurrency on CoinBase then you transfer that amount to an interest paying account. As I mentioned
            above there are several interest paying accounts. The three that we use are:
            <ul>
                <li><a href="https://celsiusnetwork.app.link/12176645aa">Celsius</a></li>
                <p style="background-color: forestgreen;">This account, or wallet as they refer to them, pays interest weekly so your accounts will compound weekly.
                    Of the three wallets listed here, this one offers the most variety in terms of the number of different
                    cryptocurrencies you can hold with them. In addition, while they pay different interest rates for different
                    cryptocurrencies, they offer the highest interest rates compared to the other wallets. For example, they
                    are paying 13.99% on two currencies and they are paying as low as 2.02% on some other currencies. To sign up,
                    you do need to provide proof of ID. When you sign up with the link above, you and NCHB will both get
                    a referral bonus.
                </p>
                <li><a href="https://nexo.io/?u=5eb9fcb075666314f74f077a">Nexo</a></li>
                <p>Nexo has the second most variety of cryptocurrencies out of the three wallets listed here. While they don't
                    offer as much variety as the Celsius wallet they do pay their interest daily so any currency you hold with
                    them will compound daily! Crazy right?! Have you ever heard of that anywhere else?! Anyway, pardon my
                    excitement but in my opinion this is a much better place to store money than any conventional bank. To sign up,
                    you do need to provide proof of ID. No referral or sign-up bonuses with this one but the link to learn more 
                    and register a new account is above.
                </p>
                <li><a href="https://blockfi.com/?ref=d05e639c">BlockFi</a></li>
                <p>Lastly, Blockfi offers the least variety in terms of how many different currencies you can hold with them.
                    Also, the interest only compounds monthly, but they still pay a decent interest rate, at least compared to
                    a bank savings account. Out of the three, Blockfi offers the fewest perks but I still hold currencies with
                    them for the sake of diversification. To sign up, you do need to provide proof of ID. When you sign up
                    with the link above, you and NCHB will both get a referral bonus.
                </p>
            </ul>
            <p>Now, you might be wandering how these companies make their money to be able to pay out their interest. Well,
                they make loans from which they make interest. These loans are backed by cryptocurrencies and so anyone
                who has a wallet with them can get a cash loan with their crypto account as the collateral. Here at NCHB we took
                out a small $500 loan to test it out. The loan terms aren't the greatest but they are convenient because
                no credit check is required since the loan is backed by collateral. Furthermore, these companies have managed
                to get these wallets insured for the account holders peace-of-mind. It's not FDIC insured like with a
                bank account but you are protected.
            </p>
            <p>Anyway, lots of pros and cons to consider but that's why we put this info out there, so you can weigh out the
                risks for yourself and make an informed decision.

            </p>
            So let's summarize the process real quick:
            <ol>
                <li>Sign up for a coinbase account <a href="https://www.coinbase.com/join/byrnec_w?src=android-link">HERE</a></li>
                <p>Using this coinbase link above will also earn you and I a referral bonus</p>
                <li>Buy some USDC(US Dollar Coin) on Coinbase if you're not a fan of volatility, if you can tolerate more risk try another coin </li>
                <p>To buy cryptocurrencies on Coinbase you can either link your bank account, debit or credit card, or
                    do a wire transfer. Also, you can actually earn interest holding USDC in your Coinbase account but you'll earn much more interest
                    with any of the wallets I mentioned above compared to coinbase.
                </p>
                <li>Make an account with one of the wallets I mentioned above: Celsius, Nexo, or BlockFi. Take your pick or have all three, like I do</li>
                <li>Once your wallet account is set up, then transfer what you have in Coinbase to your new cryptocurrency wallet.</li>
                <p>Depending on how you purchased your cryptocurrency on Coinbase, there might be a hold on your funds for up to a week or
                    two while they verify them.
                </p>
                <li>Enjoy watching your wallet account grow with interest once you transfer funds from coinbase.</li>
            </ol> 

        </p>

    {% endblock %}

</div>