{% extends "base.html" %}
<div class = "container">
    {% block content %} 

    <h1>Start A YouTube Channel</h1>
    <p>This one is a little more difficult, but if you have the time and patience then it could turn out to be quite lucrative.
       We tried this at NCHB but drifted away from it because we found the video shooting and editing tedious and time
       consuming. However if you have the grit to stick with it and be consistent then this could potential become something
       that could help you walk away from a regular 9-5 job. It does take a while but the grit to post video content consistently
       is the only cost. You don't really need a fancy camera. One content creator that we worked with just used the camera on
       his phone and did minimal edits. After about 5 years of posting consistently once a week he started getting a
       decent sized following and that translated to about $500-$600 per month in youtube ad revenue. Of course better editing
       can get more views but it's more about consistency than quality here. So, if you're willing to grind it out for a few
       years then you can get some solid income doing this.
    </p>

    {% endblock %}

</div>